body {
    background-color:  #6C94D4;
    color: #C0C3CA;
    width: 100vw;
}

a{
    color: #4B4E53;
}

#cover_photo{
    width: 100vw;
}

.jet-container {
    background-color: #C0C3CA;
    color: #4B4E53;
    border: 5px solid #6C94D4;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
    @include media-breakpoint-only(xl) {
      column-count: 3;
    }
  }