{% extends "base.html" %}

{% block content %}

<div class="card-deck">

        {% for jet in jets %}

        <div class="jets card text-center text-white
        {% if jet.side != '-' %}
            {% if jet.up %} 
                {% if jet.fuel >15 %} 
                    bg-success 
                {%else %}
                    bg-warning 
                {%endif%}
        
            {% else %}
                bg-danger
            {% endif %}
        {% else %}
            bg-dark
        {% endif %}
            m-1 shadow-lg">

            <h3 class="card-header">{{ jet.side }}  <a href="/edit/{{loop.index-1}}">edit</a></h1>
            <div class="card-body">
                <p class="card-title">Parking: {{ jet.parking }}</p>
                <p class="card-text">Fuel: {{jet.fuel}}</p>
                <p class="card-text">Ord: {{jet.ordnance}}</p>
            </div>
        </div>


        {% endfor %}

</div>
{% endblock %}