{% extends "base.html" %}

{% block content %}

<div class="card-deck container-fluid my-1 mx-0 p-0">
    <div class="row mx-auto">
        {% for jet in jets %}

        <div style="min-width: 10%;" class="p-0 mx-0 my-1 card text-center text-white
        {% if jet.side != '-' %}
            {% if jet.parking %}
                {% if jet.up %} 
                    {% if jet.fuel >15 %} 
                        bg-success 
                    {%else %}
                        bg-warning 
                    {%endif%}
            
                {% else %}
                    bg-danger
                {% endif %}
            {% else %}
                bg-primary
            {% endif %}    
        {% else %}
            bg-dark
        {% endif %}
            ">

            <div class="text-left card-header">{{ jet.parking }}
                {% if jet.side != '-' %}
                <a href="/fly/{{jet.serial}}"><i class="text-primary px-2 fas fa-plane-departure"></i></a>
                {%endif%}
            </div>
            <div class="card-body p-1">
                {% if jet.side == '-' %}
                <form action="/park/{{jet.parking}}" method="POST">
                        <select name="serial_landed" onchange="this.form.submit()">
                            <option value="">-</option>
                            {% for landed in all_jets %}
                            <option value="{{landed.serial}}">{{landed.side}}</option>
                            {% endfor %}
                        </select>
                </form>
                {% else %}
                <h2 class="card-title">{{ jet.side }}</h5>
                {% endif %}    
                    <p class="card-text">Fuel: {{jet.fuel}}</p>
                    <p class="card-text">Ord: {{jet.ordnance}}</p>
            </div>
        </div>


        {% endfor %}
    </div>
</div>
{% endblock %}